<%- include("includes/head.ejs", {title: "All Users"}) %>

<body>
    <h1>User Details:</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <% for(user of users){%>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.username%></td>
                <td><%=user.email%></td>
                <td>
                    <form action="/user/<%=user.id%>/edit" method="GET">
                        <button>Edit</button>
                    </form>
                </td>
                <td>
                    <form action="/user/<%=user.id%>/delete" method="GET">
                        <button>Delete</button>
                    </form>
                </td>
                
            </tr>
        <%}%>
    </table>
</body>
</html>